 <div class="box">
                  <div class="box box-body">
                    <div class="box box-header">
                       <h4>Amount Payable Summary</h4>
                        <small>Premiums and Cover Choices</small>
                    </div>
                      <small>Note: Only valid plans will be available</small>
              <form class="form-horizontal" name="SpouseDetails" action="funeralcover/seniormemberbenefits" method="post">

            <div class="box">
              <div class="box-tools">
                  <label>Set Budget</label>
                  <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200" data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="green">
                  <button type="submit" id="UpdatePremiums" name="UpdatePremiums"  class="btn btn-info">Update Premiums</button>
              </div>
             </div>


          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Total Amount Payable Calculation Summary</h3><br>
              <small>If Client Under Budget or Over Budget Use the Budget Slider to set the Right Amount</small>

            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-responsive">
                <tr>
                  <th title="Single Member Total Amount">Single</th>
                  <th title="Family Cover Total Amount">Family</th>
                  <th title="Extended Cover Total Amount">Extended</th>
                  <th title="Senior Members Total Amount">Senior</th>
                  <th title="Additional Optional Benefits">Additional</th>
                  <th title="Additional Accidental Death Benefits">Accidental</th>
                  <th title="Total Payable">Total</th>
                </tr>
                <tr>
                  <td>R 55.00</td>
                  <td>R 95.00</td>
                  <td>R 00.00</td>
                  <td>R 0.00</td>
                  <td>R 60.00</td>
                  <td>R 70.00</td>
                  <td>R 280.00</td>

                </tr>

              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->


                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                      <button type="submit" id="SaveButt" name="SaveButt"  class="btn btn-success">Save</button>
                    </div>
                  </div>

                </form>

                  </div>
</div>