 <div class="box">
                  <div class="box box-body">
                    <div class="box box-header">
                       <h4>Parents</h4>
                        <small>Premiums and Cover Choices</small>
                    </div>
                      <small>Note: Only Valid Plans will be Available</small>
              <form class="form-horizontal" name="SpouseDetails" action="funeralcover/extendedfamily" method="post">


                  <div class="from-group">
                      <label class="col-sm-4 control-label pull-left"  title="Parents (50 - 75)">Parents (50 - 75)</label>
                      <div class="col-sm-12">
                       <select class="form-control select2" style="width: 100%;" id="strParents5075" name="vstrParents5075">
                             <option>Plan A Cover R 5,000.00 Premium = R50.00</option>
                             <option>Plan B Cover R 7,000.00 Premium = R50.00</option>
                             <option>Plan C Cover R10,000.00 Premium = R70.00</option>
                             <option>Plan D Cover R12,000.00 Premium = R80.00</option>
                       </select>
                      </div>
                  </div>

                  <div class="from-group">
                      <label class="col-sm-4 control-label pull-left"  title="Parents (76 - 85)">Parents (76 - 85)</label>
                      <div class="col-sm-12">
                       <select class="form-control select2" style="width: 100%;" id="strParents7685" name="vstrParents7685">
                             <option>Plan A Cover R 5,000.00 Premium = R55.00</option>
                             <option>Plan B Cover R 7,000.00 Premium = R55.00</option>
                             <option>Plan C Cover R10,000.00 Premium = R75.00</option>
                             <option>Plan D Cover R12,000.00 Premium = R90.00</option>
                       </select>
                      </div>
                  </div>

                  <div class="from-group">
                      <label class="col-sm-4 control-label pull-left"  title="Parents (80 - Above)">Parents (80 - Above)</label>
                      <div class="col-sm-12">
                       <select class="form-control select2" style="width: 100%;" id="strParents80Above" name="vstrParents80Above">
                             <option>Plan A Cover R 5,000.00 Premium = R65.00</option>
                             <option>Plan B Cover R 7,000.00 Premium = R75.00</option>
                             <option>Plan C Cover R10,000.00 Premium = R100.00</option>
                             <option>Plan D Cover R12,000.00 Premium = R110.00</option>
                       </select>
                      </div>
                  </div>




                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                      <button type="submit" id="SaveButt" name="SaveButt"  class="btn btn-success">Save</button>
                    </div>
                  </div>

                </form>

                  </div>
</div>