 <div class="box">
                  <div class="box box-body">
                    <div class="box box-header">
                       <h4>Family Plans</h4>
                       <small>Premiums and Cover Choices</small>
                    </div>
                      <small>Note: Only Valid Plans will be Available</small>
              <form class="form-horizontal" name="SpouseDetails" action="funeralcover/family" method="post">


                  <div class="from-group">
                      <label class="col-sm-4 control-label pull-left"  title="Principal Member (18 - Above)">Principal (18 - 60)</label>
                      <div class="col-sm-12">
                       <select class="form-control select2" style="width: 100%;" id="strPrincipalMember" name="vstrPrincipalMember">
                             <option>Plan A Cover R 5,000.00 Premium = R50.00</option>
                             <option>Plan B Cover R 7,000.00 Premium = R60.00</option>
                             <option>Plan C Cover R10,000.00 Premium = R85.00</option>
                             <option>Plan D Cover R12,000.00 Premium = R95.00</option>
                       </select>
                      </div>
                  </div>

                  <div class="from-group">
                      <label class="col-sm-4 control-label pull-left"  title="Spouse (18 - Above)">Spouse (18 - 60)</label>
                      <div class="col-sm-12">
                       <select class="form-control select2" style="width: 100%;" id="strSpouseMember" name="vstrSpouseMember">
                             <option>Plan A Cover R 5,000.00</option>
                             <option>Plan B Cover R 7,000.00</option>
                             <option>Plan C Cover R10,000.00</option>
                             <option>Plan D Cover R12,000.00</option>
                       </select>
                      </div>
                  </div>

                  <div class="from-group">
                      <label class="col-sm-4 control-label pull-left"  title="Children (13 - 21)">Children (13 - 21)</label>
                      <div class="col-sm-12">
                       <select class="form-control select2" style="width: 100%;" id="strChildren" name="vstrChildren">
                             <option>Plan A Cover R 3,000.00</option>
                             <option>Plan B Cover R 3,500.00</option>
                             <option>Plan C Cover R 3,500.00</option>
                             <option>Plan D Cover R 6,500.00</option>
                       </select>
                      </div>
                  </div>


                <div class="from-group">
                      <label class="col-sm-4 control-label pull-left"  title="Children (06 - 12)">Children (06 - 12)</label>
                      <div class="col-sm-12">
                       <select class="form-control select2" style="width: 100%;" id="strChildren6" name="vstrChildren6">
                             <option>Plan A Cover R 2,500.00</option>
                             <option>Plan B Cover R 3,000.00</option>
                             <option>Plan C Cover R 3,000.00</option>
                             <option>Plan D Cover R 5,500.00</option>
                       </select>
                      </div>
                  </div>



                <div class="from-group">
                      <label class="col-sm-4 control-label pull-left"  title="Children (00 - 05)">Children (00 - 05)</label>
                      <div class="col-sm-12">
                       <select class="form-control select2" style="width: 100%;" id="strChildren00" name="vstrChildren00">
                             <option>Plan A Cover R 2,000.00</option>
                             <option>Plan B Cover R 3,500.00</option>
                             <option>Plan C Cover R 3,500.00</option>
                             <option>Plan D Cover R 5,000.00</option>
                       </select>
                      </div>
                  </div>

                <div class="from-group">
                      <label class="col-sm-4 control-label pull-left"  title="Still Born">Children Still Born</label>
                      <div class="col-sm-12">
                       <select class="form-control select2" style="width: 100%;" id="strChildrenStill" name="vstrChildrenStill">
                             <option>Plan A Cover R 1,000.00</option>
                             <option>Plan B Cover R 1,000.00</option>
                             <option>Plan C Cover R 1,000.00</option>
                             <option>Plan D Cover R 1,500.00</option>
                       </select>
                      </div>
                  </div>


                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                      <button type="submit" id="SaveButt" name="SaveButt"  class="btn btn-success">Save</button>
                    </div>
                  </div>

                </form>

                  </div>
</div>