 <div class="box">
                  <div class="box box-body">
                    <div class="box box-header">
                       <h4>Single Plans</h4>
                       <small>Premiums and Cover Choices</small>
                    </div>

              <form class="form-horizontal" name="SpouseDetails" action="funeralcover/single" method="post">
                  <small>Select Single Plans Cover i.e Cover and Premiums</small>

                  <div class="from-group">
                      <label class="col-sm-2 control-label pull-left"  title="Select Single Plan">Single Plan</label>
                      <div class="col-sm-6">
                       <select class="form-control select2" style="width: 100%;" id="strSinglePlanChoice" name="vstrSinglePlanChoice">
                             <option>Plan A Cover R 5,000.00 Premium = R50.00</option>
                             <option>Plan B Cover R 7,000.00 Premium = R60.00</option>
                             <option>Plan C Cover R10,000.00 Premium = R85.00</option>
                             <option>Plan D Cover R12,000.00 Premium = R95.00</option>
                       </select>
                      </div>
                  </div>


                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                      <button type="submit" id="SaveButt" name="SaveButt"  class="btn btn-success">Save</button>
                    </div>
                  </div>

                </form>

                  </div>
</div>