

<script type="text/javascript">
    $(document).ready(function(){
        $('#AddSpouseButt').click(function(){

            var varstrPolicyNumber = document.getElementById('strPolicyNumber').value;
            var varstrFullNames = document.getElementById('strSpouseFullNames').value;
            var varstrSurname = document.getElementById('strSpouseSurname').value;
            var varstrIDNumber = document.getElementById('strSpouseIDNumber').value;
            var varstrRelationship = document.getElementById('strSpouseRelationship').value;
            var varstrDateOfBirth = document.getElementById('strSpouseDateOfBirth').value;

            var age = getAge(varstrDateOfBirth);
            var IdLength = varstrIDNumber.length;
            var IDisNumber = isNumber(varstrIDNumber);


            if ((age >= 18) && (age <= 130)) {

                if (IdLength == 13){
                    if (IDisNumber == true){
                        var dataString = '&vstrPolicyNumber=' + varstrPolicyNumber + '&vstrFullNames=' + varstrFullNames +
                                '&vstrSurname=' + varstrSurname + '&vstrIDNumber=' + varstrIDNumber + '&vstrRelationship=' +
                                varstrRelationship + '&vstrDateOfBirth=' + varstrDateOfBirth;
                        $.ajax({
                            type: "post",
                            url: "/dynamic/funeralpolicy/Spouse.html",
                            data: dataString,
                            cache: false,
                            success: function (html) {
                                $('#SpouseInfoDiv').html(html)
                            }
                        });

                    }else{
                        alert("Your ID Number must contain only Numbers")
                    }


                }else{
                    alert("Your ID Number Field must Contain 13 Characters")
                }


            }
            else
            {
                alert("your Client Spouse should be between the Age of 18 of 60 your Client Spouse Age = " + age)
            }

          });
      });


</script>

<script type="text/javascript">
    $(document).ready(function(){
        $('#RemoveSpouseModalButt').click(function(){

            var varstrPolicyNumber = document.getElementById('strPolicyNumber').value;
            var varstrRemoveIDNumber = document.getElementById('strRemoveSpouseIDNumber').value;




            var dataString = '&vstrPolicyNumber=' + varstrPolicyNumber + '&vstrIDNumber=' + varstrRemoveIDNumber;
              $.ajax({
                    type: "post",
                    url: "/funeral-cover/remove/spouse",
                    data: dataString,
                    cache: false,
                  success: function(html){
                    $('#ActionStatus').html(html)
                  }
              });

          });
      });
</script>


{% if MessageDiag %}
<label class="label label-warning">{{ MessageDiag }}</label>
{% else %}

<div class="box">
    <div class="box box-info">
        <div class="box box-title">
            <label class="label label-primary">Spouse List</label>
        </div>
    <div id="SpouseTableInfoDiv">
       <table id="ExtendedDetailsTable" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Policy Number</th>
                  <th>Names</th>
                  <th>Surname</th>
                  <th>ID Number</th>
                  <th>Date of Birth</th>
                  <th>Relationship</th>
                </tr>
                </thead>
                <tbody>
                {% for member in SpouseList %}
                    <tr>
                      <!-- TODO- Call an Ajax Function to fill up the form in employeeDetails then return the form and
                         TODO- Insert it into the DynamicLoading Div Tag in the Modal then show the modal -->
                      <td><a href="/funeral-cover/policies/{{ member.strPolicyNum }}">{{ member.strPolicyNum }}</a></td>
                      <td>{{ member.strFullNames }}</td>
                      <td>{{ member.strSurname }}</td>
                      <td>{{ member.strIDNumber }}</td>
                      <td>{{ member.strDateOfBirth }}</td>
                      <td>{{ member.strRelationship }}</td>
                    </tr>
                {% endfor %}
                </tbody>

                <tfoot>
                <tr>
                  <th>Policy Number</th>
                  <th>Names</th>
                  <th>Surname</th>
                  <th>ID Number</th>
                  <th>Date of Birth</th>
                  <th>Relationship</th>
                </tr>
                </tfoot>

       </table>
    </div>
    </div>

                  <div class="box box-body">
                    <div class="box box-header">
                       <h4>Spouse Details</h4>
                    </div>
              <form class="form-horizontal" name="SpouseDetails" action="" method="post">

                  <div class="form-group">
                      <label for="strSpouseFullNames" class="col-sm-2 control-label pull-left" title="Your First and Second Names">Full Names</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="strSpouseFullNames" name="vstrSpouseFullNames" placeholder="Full Names">
                             </div>
                  </div>
                  <div class="form-group">
                      <label for="strSpouseSurname" class="col-sm-2 control-label pull-left" title="your Surname">Surname</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="strSpouseSurname" name="vstrSpouseFullNames" placeholder="Surname">
                             </div>
                  </div>

                  <div class="form-group">
                      <label for="strSpouseIDNumber" class="col-sm-2 control-label pull-left" title="your Surname">ID Number</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="strSpouseIDNumber" name="vstrSpouseIDNumber" placeholder="ID Number">
                             </div>
                  </div>


                  <div class="form-group">
                        <label class="col-sm-2 control-label pull-left" title="Your Birth Year (yyyy-mm-dd)">Date Of Birth</label>
                        <div class="col-sm-6">
                                    <input type="text" class="form-control" id="strSpouseDateOfBirth" name="vstrSpouseDateOfBirth" placeholder="yyyy-mm-dd">
                            <!-- /.input group -->
                        </div>
                  </div>

                  <div class="form-group">
                        <label class="col-sm-2 control-label pull-left" title="Spouse">Relationship</label>
                        <div class="col-sm-6">
                            <select id="strSpouseRelationship" name="vstrSpouseRelationship" style="width: 100%;">
                                <option value="Wife">Wife</option>
                                <option value="Husband">Husband</option>
                            </select>
                        </div>
                  </div>

                      <!-- /.form group -->
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                      <button type="button" id="AddSpouseButt" name="SaveButt"  class="btn btn-success">Add Spouse</button>
                      <button type="button" id="RemoveSpouseButt" name="RemoveButt"  class="btn btn-warning" data-toggle="modal" data-target="#RemoveSpouseModal">Remove Spouse</button>
                    </div>
                    <div class="col-sm-offset-6 col-sm-6">

                    </div>

                  </div>

                </form>
                  </div>
</div>

{% endif %}


<div class="modal modal-warning" id="RemoveSpouseModal" tabindex="-1" role="dialog" aria-labelledby="RemoveModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="RemoveModalLabel">Remove Spouse From Policy</h4>
            <small>Remove Spouse By Specifying the ID Number</small>
          </div>
          <div class="modal-body">
            <form action="" method="post">
          <div class="form-group has-feedback">
            <input type="text" name="vstrRemoveIDNumber" id="strRemoveSpouseIDNumber" class="form-control" placeholder="ID Number">
            <span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
          </div>

         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="RemoveSpouseModalButt">Remove</button>
          </div>

        </form>
          </div>
        </div>
      </div>
    </div>

<div id="ActionStatus">
 <small class="label label-info">...Remove status will appear here</small>
</div>


